html {
  font-size: 10px;
}

body {
  background-color: #FDF1F3;
  color:  #200104;
  display: grid;
  font-family: 'DM Mono';
  font-size: 1.6rem;
  min-height: 100vh;
  grid-template-areas:
      'header'
      'main'
      'footer';
  margin: 0;
  width: 100%;
}

/* Type */

h1 {
  font-weight: medium;
  font-size: 4.8rem;
}

h2 {
  font-weight: medium;
  font-size: 3.6rem;
}

h3 {
  font-weight: medium;
  font-size: 2.4rem;
}

/* components and global style */

a {
  text-decoration: none;
  color: #200104;
  font-size: 1.8rem;
}


a:hover {

  background-color: #B5EFE1;
  background-position: 1rem 2rem;
  width: 100%;
}

ul {
  list-style-type: none;
}

li {
  text-decoration: none;
}

.button {
  background-color: #200104;
  border: none;
  border-radius: .4rem;
  color: #FDF1F3;
  display: inline-block;
  font-family: sans-serif;
  height: 4.8rem;
  text-align: center;
}

button:hover {

  background-color: #B5EFE1;
  background-position: 1rem 2rem;
  width: 100%:
}

.button1 {
  grid-column-start: 1;
  grid-column-end: 7;
  margin-top: 2.4rem;
}

.button1:hover {
  color: #200104;
    border: .2rem solid #200104;
}

.button2 {
  background-color: #FDF1F3;
  border: .2rem solid #200104;
  color: #200104;
  grid-column-start: 7;
  grid-column-end: 13;
  margin-top: 2.4rem;
}

  .button3 {
    width: 100%;
  }

.button3:hover {
  color: #200104;
  border: .2rem solid #200104;
}

.link-style {
border-bottom: .2rem solid #200104;
}

.underlink {
    border-bottom: .2rem solid #200104;
}

/* header */

header {
  grid-area: header;
  width: 100%;
}

/* nav */

.nav {
  width: 100%;
  height: 4.8rem;
  background-color: #FFFFFF;
  opacity: .96;
  position: fixed;
  top: 0;
}

.nav-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-column-gap: 2.5%;
  margin: 0 auto;
  width: 90%;
}

.nav-left {

  grid-column-start: 2;
  grid-column-end: 6;
  height: 4.8rem;
}

.mat-logo {
  min-width: 6rem;
  max-width: 10rem;
  height: 4.8rem;
}

.vertical-nav {
  grid-column-start: 10;
  grid-column-end: 12;
  text-align: left;
  margin: auto;
}

a.vertical-menu {
  font-family: 'DM Mono';
  font-size: 2.4rem;
  font-weight: 500;
}

.horizontal-nav {
  display: none;
}

li.nav-link {
  font-family: 'DM Mono';
  font-size: 2rem;
  font-weight: 500;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}

nav ul ul {
	display: none;
	position: absolute;
	top: 4.8rem;
}

nav ul li:hover > ul {
	display: block;
}

nav ul ul li:hover {
  display: block;
}

/* main */

main {
  height: auto;
  grid-area: main;
  width: 100%
}

.main-content {
  display: grid;
  grid-column-gap: 2.5%;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  margin: 3.2rem auto;
  width: 90%;
}

.mat {
  grid-column-start: 1;
  grid-column-end: 13;
  text-align: center;
}

.intro-statement {
  grid-column-start: 3;
  grid-column-end: 11;
  margin-top: 1.6rem;
  text-align: center;
}

.contact-email {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 13;
  margin-top: 1.6rem;
}

.title {
  grid-column-start: 1;
  grid-column-end: 13;
  margin-top: 3.6rem;
  text-align: center;
}

.text-block {
  grid-column-start: 1;
  grid-column-end: 13;
  margin-top: 2.4rem;
  line-height: 2.2rem;
  max-width: 88.4rem;
}

.button-link {
   grid-column-start: 3;
   grid-column-end: 11;
 }

.section-link {
  grid-column-start: 2;
  grid-column-end: 12;
  margin-top: 2.4rem;
  text-align: center;
}

.dropsite-list {
  background-color: #200104;
  border-radius: .4rem;
  color: #FDF1F3;
  display: block;
  grid-column-start: 2;
  grid-column-end: 12;
  height: auto;
  margin-top: 3.6rem;

}

.drop-title {
  margin-top: 3.6rem auto 0 auto;
}

.dropsite {
  display: block;
  margin-top: 3.6rem;

}

.drop-name {
  margin: 2.4rem auto .8rem auto;
  text-align: center;
}

.address {
  line-height: 2.2rem;
  text-align: center;
  margin-top: 1.6rem;
}

.last-dropsite {
  margin-bottom: 3.6rem;
}

/* footer */

footer {
  background-color: #200104;
  margin: 0 auto;
  height: 7.2rem;
  width: 100%;
}

.footer-grid {
  display: grid;
  align-self: end;
  grid-area: footer;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-column-gap: 2.5%;
  width: 90%;
}

.rights {
  align-self: center;
  color: #FDF1F3;
  grid-column-start: 3;
  grid-column-end: 11;
  text-align: center;
}

.footer-logo {
  align-self: center;
  grid-column-start: 11;
  grid-column-end: 13;
}

.mat-logo-footer {
  min-width: 6rem;
  max-width: 24rem;
  height: 4.8rem;
  width: 100%;
  margin-top: 5%;
}

 @media screen and (min-width: 1024px ) {


  .button1 {
    grid-column-start: 5;
    grid-column-end: 7;
    margin-top: 2.4rem;
  }

  .button2 {
    background-color: #FDF1F3;
    border: .2rem solid #200104;
    color: #200104;
    grid-column-start: 7;
    grid-column-end: 9;
    margin-top: 2.4rem;
  }

  .button-link {
    grid-column-start: 5;
    grid-column-end: 9
  }

  .button3 {
    width: 100%;
  }

  .text-block {
    grid-column-start: 3;
    grid-column-end: 11;
  }


  }
}
